In [1]:
import csv
import pandas as pd
import numpy as np
import math
from scipy import stats
from hodgerank_tools import *

In [2]:
dataset = np.load ("data/imdb/Dataset.npy")
n=520
dataset = dataset[:n]
userID=[]
movieID=[]
data=[]
for i in range(len(dataset)):
    v=dataset[i].split(',')
    userID.append(v[0])
    movieID.append(v[1])
    data.append(v)
userID=list(dict.fromkeys(userID))
movieID=list(dict.fromkeys(movieID))
imdb = pd.DataFrame(columns=movieID)
imdb = pd.DataFrame(imdb,index=userID)

In [3]:
for i in range(max(len(userID),len(movieID))):
    #i>=j
    user=data[i][0]
    movie=data[i][1]
    rate=int(data[i][2])
    imdb[movie][user]=rate
imdb=imdb.dropna(how='all',axis=1)
imdb

,tt0120884,tt0118688,tt0387887,tt0346491,tt0094721,tt0114891,tt0391198,tt0426568,tt0120601,tt0060196,...,tt0425144,tt0074253,tt0105598,tt0078490,tt0098185,tt0022835,tt0276744,tt0212720,tt0048593,tt0391024
ur4592644,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ur3174947,NaN,3,NaN,NaN,8,NaN,NaN,NaN,8,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ur3780035,NaN,NaN,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ur4592628,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ur1162550,NaN,NaN,NaN,NaN,NaN,9,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ur4582520,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ur4580446,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ur4574979,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ur3756587,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ur4584473,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
(naive_r0, naive_r0_error) = naive_rank_0(imdb)
print(naive_r0)
print("error: ", naive_r0_error)

          node     r
0    tt0120884  10.0
1    tt0298203  10.0
2    tt0048667  10.0
3    tt0090264  10.0
4    tt0325980  10.0
..         ...   ...
335  tt0144117   1.0
336  tt0320691   1.0
337  tt0166924   1.0
338  tt0080934   1.0
339  tt0196267   1.0

[340 rows x 2 columns]
error:  982913.3979172412

In [14]:
(naive_r, naive_r_error) = naive_rank(imdb)
print(naive_r)
print("error: ", naive_r_error)

          node         r
0    tt0060196       9.0
1    tt0365748       7.0
2    tt0034583       6.0
3    tt0120890       6.0
4    tt0325596       5.5
..         ...       ...
335  tt0368891 -100000.0
336  tt0057076 -100000.0
337  tt0196000 -100000.0
338  tt0029583 -100000.0
339  tt0391024 -100000.0

[340 rows x 2 columns]
error:  263999836092845.06

In [6]:
(r_regular, error_regular) = rank(imdb)
print(r_regular)
print("error: ", error_regular)

          node         r
0    tt0060196  4.500000
1    tt0119349  4.183333
2    tt0325596  3.666667
3    tt0120655  3.666667
4    tt0100665  3.636364
..         ...       ...
335  tt0349683 -3.500000
336  tt0118688 -4.416667
337  tt0071385 -4.500000
338  tt0391198 -4.816667
339  tt0329334 -6.416667

[340 rows x 2 columns]
error:  142988.03787878744

In [7]:
k = 3
(r_groups_1, error_groups_1) = simple_group_rank(imdb, k)
print(r_groups_1)
print("error: ", error_groups_1)

          node         r
0    tt0119349  3.839286
1    tt0325596  3.666667
2    tt0120655  3.666667
3    tt0100665  3.636364
4    tt0103874       3.5
..         ...       ...
335  tt0064573       0.0
336  tt0350826       0.0
337  tt0341540       0.0
338  tt0198781       0.0
339  tt0391024       0.0

[340 rows x 2 columns]
error:  28010.333603895306